<section class="hero-container">
  <div class="hero_content">
    <h1 class="movie_title">{{movie.title}}</h1>
    <div>
      <img src="{{movie.image}}" alt="{{movie.title}}" class="movie_image" />
    </div>
    <button class="movie_favorite_button {{favoriteClass}}" type="button" {{favoriteDisabled}} onclick="C.handlerToggleFavorite('{{movie.id}}')">
      {{favoriteLabel}}
    </button>
    <a href="{{movie.trailer}}" target="_blank">Regarder le trailer</a>
    <div><p>{{movie.synopsis}}</p></div>

    <div class="hero_content_bottom">
      <div class="hero_content_left">
        <h1>{{movie.category}}</h1>
      </div>
      <div class="hero_content_right">
        <h1>{{movie.age_restriction}}</h1>
        <h1>{{movie.release_year}}</h1>
        <h1>{{movie.director}}</h1>
      </div>
    </div>
  </div>
</section>
