  <div class="footer__top">
    <div class="footer__brand-group">
      <img src="../img/Filmrise.svg.png" alt="Filmrise Logo" class="footer__logo" />
      <div class="footer__social">
        <a href="#" class="footer__icon" aria-label="Facebook">f</a>
        <a href="#" class="footer__icon" aria-label="Instagram">i</a>
        <a href="#" class="footer__icon" aria-label="TikTok">t</a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">© Radial Entertainment 2026. All Rights Reserved.</div>
